
<div class = "footer">
	<p>nursing home all rights reserved</p>
</div> <!--footer -->

  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>

</html>