
<% include ./partials/header %>
<div class = "container">
	<div class = "jumbotron">
		<div class = "container ">
			<h1 class = ""> Residents Admission page</h1>
			<button type="button" class="btn btn-outline-primary btn-large">Add new resident</button>
		</div>
	</div>
	
	<div class = "container center-block">
		<section id = "residents">
			<div class = "row">
				<% results.forEach(function(result)  { %>		
				<div class = "col-md-2 text-center">
					<img src="<%= result.imageUrl %>" alt="user icon" class = "img-responsive center-block">
					<h3><%= result.name %></h3>
					<h4><%= result.age %></h4>
					<a href="/residents/<%= result._id %>" class="btn btn-info">more info</a>		
				</div>
				<% }); %>	
			</div>
		</section>	
	</div>
	<% include ./partials/footer %>
</div>


