
<% include ./partials/header %>

	<div class = "jumbotron">
		<div class = "container ">
			<h1 class = ""> Resident Admissions page</h1>
			<a href = "/resident" class="btn btn-info btn-large">Add new resident</a>
		</div>
	</div>
	<div class ="center-block">
		<section id = "residents">
			<div class = "row" style = "display:flex; flex-wrap:wrap">
				<% results.forEach(function(result)  { %>		
				<div class = "col-md-2 text-center">
					<img src="<%= result.imageUrl %>" alt="user icon" class = "img-responsive center-block">
					<h3><%= result.name %></h3>
					<h4><%= result.age %></h4>
					<a href="/residents/<%= result._id %>" class="btn btn-info">more info</a>		
				</div>
				<% }); %>	
			</div>
		</section>	
	</div>
	<% include ./partials/footer %>



