body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.details .details-heading__pb{
	
	padding-bottom: 40px;
}

.details .details__content{
	
	/*border:1px solid blue; */
}

/*Panels*/

.panel {
    border: 1px solid #1E25FF; 
    border-radius:60;
    transition: box-shadow 0.5s;
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading, .panel-heading span {
	text-transform: uppercase;
    color: #fff !important;
    background-color:#1E9BFE !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: #fff !important;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #1E9BFE;
    color: #fff;
}
